.company-card {
  background: #414141;
  display: flex;
  flex-direction: column;
  width: 320px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 2px 25px;
  transition: box-shadow 0.6s cubic-bezier(0.19, 1, 0.22, 1); }
  .company-card:hover {
    background: #444444;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5); }

.company-card-title {
  display: flex;
  padding-top: 10px;
  color: #ffffff;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.33); }
  .company-card-title span {
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.company-card-content {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px; }
  .company-card-content p, .company-card-content br {
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.company-card-footer {
  min-height: 50px; }

/*# sourceMappingURL=company-card.component.css.map */
