@import "../../../assets/colors";
@import "../../../assets/sizes";

.company-card{
  background: $medium-gray;
  display: flex;
  flex-direction: column;
  width: $company-card-width;

  box-shadow: $standard-shadow;
  cursor: pointer;
  padding: $extra-small-padding $medium-padding;
  transition: box-shadow $transition-time-slow $transition-ease-out;

  &:hover {
    background: $medium-light-gray;
    box-shadow: 0 $small-padding  (2*$small-padding) 0 $transparent-black-50;
  }
}

.company-card-title{
  display: flex;
  padding-top: $small-padding;
  color: $white;
  font-size: $large-font-size;
  border-bottom: $main-border;
  span{
    margin: $small-padding 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.company-card-content{
  color: $transparent-white-50;
  font-size: $medium-font-size;
  p, br{
    margin: $small-padding 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.company-card-footer{
  //display: flex;
  //justify-content: flex-end;
  min-height: $main-size;
}
