<div class="company-card">
  <div class="company-card-title">
    <span>{{company.name}}</span>
  </div>
  <div class="company-card-content">
      <p *ngIf="company.address!==''; else showEmptyLine" >{{company.address}}</p>
      <p *ngIf="company.phone!==''; else showEmptyLine">{{company.phone}}</p>
    <ng-template #showEmptyLine><p><br></p></ng-template>
  </div>
  <div class="company-card-footer">
  </div>
</div>
