$black: #000000;
$dark-gray: #333333;
$medium-gray: #414141;
$medium-light-gray: #444444;
$regular-gray: #646464;
$mid-light-gray: #888888;
$light-gray: #cbcbcb;
$white: #ffffff;

$light-blue: #64b5f6;
$blue_old: #00a0d6;
$blue: #42a5f5;
$dark-blue: #2196f3;
$red: #ff6464;
$yellow: #ffd54f;
$green: #13A549;
$pink: #D5A1A1;

$transparent-white-10: rgba($white, 0.1);
$transparent-white-15: rgba($white, 0.15);
$transparent-white-20: rgba($white, 0.2);
$transparent-white-33: rgba($white, 0.33);
$transparent-white-50: rgba($white, 0.5);
$transparent-white-75: rgba($white, 0.75);
$transparent-white-80: rgba($white, 0.80);

$transparent-black-0: rgba($black, 0);
$transparent-black-10: rgba($black, 0.1);
$transparent-black-20: rgba($black, 0.2);
$transparent-black-33: rgba($black, 0.33);
$transparent-black-50: rgba($black, 0.5);
$transparent-black-60: rgba($black, 0.6);
$transparent-black-75: rgba($black, 0.75);
$transparent-black-100: rgba($black, 1);

$transparent-blue-33: rgba($blue, 0.33);
$transparent-blue-50: rgba($blue, 0.5);
$transparent-blue-70: rgba($blue, 0.7);
$transparent-blue-75: rgba($blue, 0.75);
$transparent-blue-90: rgba($blue, 0.9);
