$main-size: 50px;
$line-height: 37.5px;

$extra-small-padding: 2px;
$small-padding: 10px;
$medium-padding: $main-size / 2;
$large-padding: $main-size;

$small-font-size: 13px;
$medium-font-size: 16px;
$large-font-size: 18px;
$x-large-font-size: 36px;

$font-weight-medium: 300;
$font-weight-large: 600;

$small-icon-size: 16px;
$medium-icon-size: 24px;
$medium-large-icon-size: 32px;
$large-icon-size: 36px;

$small-button-height: $main-size - $small-padding * 2;
$small-button-width: $main-size + $small-padding * 2;

$dropdown-size: $main-size * 5;
$dropdown-menu-padding: 16px 0px 16px 9px;

$dropdown-button-size-medium: $main-size * 4;
$dropdown-button-size-large: $main-size * 5;

$company-card-width: 320px;

$breakpoint-small: 320px;
$breakpoint-medium: 568px;
$breakpoint-large: 1024px;


$dialog-small-width: 300px;
$dialog-medium-width: 374px;
$dialog-large-width: 500px;

$text-input-indent: 10px;
$text-input-border: 2px;

$text-max-user-length: 240px; //equivalent to ~30 characters


///////////////////////////////////////////////////////////
// Borders / shadows

$main-border: 1px solid $transparent-white-33;
$main-border-blue: 2px solid $blue;

$standard-shadow: 0 ($small-padding / 2) $small-padding 0 $transparent-black-50;
$inset-box-shadow: inset 0 1px 1px 0 $transparent-black-50;

///////////////////////////////////////////////////////////
// Timings
$transition-time: 0.2s;
$transition-time-slow: 0.6s;
$transition-ease-out: cubic-bezier(0.19, 1, 0.22, 1); // easeOutExpo

