@import "../../../assets/colors";
@import "../../../assets/sizes";

.head-bar {
  display: flex;
  color: $transparent-white-80;
  border-bottom: $main-border;
  width: 100%;
  justify-content: space-between;
  .head-bar-left {
    display: flex;
    button:hover {
      color: $blue;
    }
    .head-bar-right {

    }
  }

}

.head-divider {
  border-left: $main-border;
}

.head-text {
  align-self: center;
  padding-left: $small-padding;
  font-size: $medium-font-size;
}
