<div class="head-bar">
  <div class="head-bar-left">
    <button md-button [routerLink]="['/companies']">
      <md-icon class="md-24">home</md-icon>
      <span>Home</span>
    </button>
    <div class="head-divider"></div>
    <div class="head-text">
      <div *ngIf="path">
        <a *ngIf="path.company">{{path.company.name}}
          <a *ngIf="path.person">/ {{path.person.name}}</a>
        </a>
      </div>
    </div>
  </div>
  <div class="head-bar-right">
    <button md-button color="accent" *ngIf="path&&!path.company" (click)="importCompanies()">
      <span>Import Companies</span>
    </button>
    <button md-button color="accent" *ngIf="path&&path.company" (click)="importPeople(path.company.id)">
      <span>Import Employees</span>
    </button>
  </div>

</div>

