.head-bar {
  display: flex;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
  width: 100%;
  justify-content: space-between; }
  .head-bar .head-bar-left {
    display: flex; }
    .head-bar .head-bar-left button:hover {
      color: #42a5f5; }

.head-divider {
  border-left: 1px solid rgba(255, 255, 255, 0.33); }

.head-text {
  align-self: center;
  padding-left: 10px;
  font-size: 16px; }

/*# sourceMappingURL=head-bar.component.css.map */
