<div *ngIf="person" class="person-detail">
  <div class ="person-detail-title">
    <span *ngIf='person.name!==""; else showEmptyPersonName'>{{person.name}}</span>
    <ng-template #showEmptyPersonName>New Employee</ng-template>
    <div class="person-action">
      <button md-raised-button color="primary" [ngClass]="{'disable-button': !isPersonModified}"
              (click)="saveChanges()">
        <span *ngIf="isEmptyID(); else modifyExistingPerson">Create Employee</span>
        <ng-template #modifyExistingPerson>Save Changes</ng-template>
      </button>
      <button *ngIf="!isEmptyID()" md-button color="warn" (click)="delete()">Delete</button>
    </div>
  </div>
  <div class="person-detail-body">
    <form>
      <span>Employee Name*:</span>
      <md-form-field class="input-field">
        <input #employeeName mdInput required [formControl]="nameFormControl"
               [(ngModel)]="person.name"  (keyup)="trackDataChanges()">
        <md-error *ngIf="nameFormControl.hasError('required')">
          Employee name is <strong>required</strong>
        </md-error>
      </md-form-field>
      <span>Email (optional):</span>
      <md-form-field class="input-field">
        <input mdInput [formControl]="emailFormControl"
               [(ngModel)]="person.email"  (keyup)="trackDataChanges()">
        <md-error *ngIf="emailFormControl.hasError('pattern')">
          Please enter a valid email address
        </md-error>
      </md-form-field>
    </form>
  </div>
  <div class="person-detail-footer">
    <button md-button (click)="goBack()">Back</button>
  </div>
</div>
