@import "../../../assets/colors";
@import "../../../assets/sizes";
@import "../../../assets/common";

$content-width: 3*$company-card-width;
.person-detail{
  display: flex;
  flex-direction: column;
  padding: $medium-padding $large-padding;
  align-items: center;
  color: $white;
  //width:3*$company-card-width;

  .person-detail-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: $x-large-font-size;
    width:$content-width;
    border-bottom: $main-border;

    span{
      width:2*$company-card-width;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .person-action{
      display: flex;
      align-items: center;
    }
  }
  .person-detail-body{
    font-size: $large-font-size;
    width:$content-width;

    form {
      padding: $medium-padding;

      span {
        margin-top: $medium-padding;
      }
    }

    a{
      color: $blue;
    }
    .input-field{
      color:$white;
      width: 100%;
      padding: 2 * $small-padding;
    }
  }
}

.person-detail-footer{
  width:$content-width;
  button {
    color: $blue;
    font-size: $large-font-size;
  }
}
