.disable-button {
  opacity: 0.3;
  pointer-events: none; }

.person-detail {
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
  align-items: center;
  color: #ffffff; }
  .person-detail .person-detail-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 36px;
    width: 960px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.33); }
    .person-detail .person-detail-title span {
      width: 640px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .person-detail .person-detail-title .person-action {
      display: flex;
      align-items: center; }
  .person-detail .person-detail-body {
    font-size: 18px;
    width: 960px; }
    .person-detail .person-detail-body form {
      padding: 25px; }
      .person-detail .person-detail-body form span {
        margin-top: 25px; }
    .person-detail .person-detail-body a {
      color: #42a5f5; }
    .person-detail .person-detail-body .input-field {
      color: #ffffff;
      width: 100%;
      padding: 20px; }

.person-detail-footer {
  width: 960px; }
  .person-detail-footer button {
    color: #42a5f5;
    font-size: 18px; }

/*# sourceMappingURL=person-detail.component.css.map */
