/* You can add global styles to this file, and also import other style files */
body {
  background-color: #333333;
  margin: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

/*# sourceMappingURL=styles.css.map */
