/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; //this theme is not used.
@import "assets/_colors";
@import "assets/_sizes";

body {
  background-color: $dark-gray;
  margin: 0;
  //min-width: 3*($company-card-width+$small-padding+$medium-padding) +5*$medium-padding;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
