.disable-button {
  opacity: 0.3;
  pointer-events: none; }

.company-detail {
  display: flex;
  flex-direction: column;
  margin: 25px 50px;
  align-items: center;
  color: #ffffff;
  min-width: 960px; }
  .company-detail .company-detail-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 36px;
    width: 960px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.33); }
    .company-detail .company-detail-title span {
      width: 640px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .company-detail .company-detail-title .company-action {
      display: flex;
      align-items: center; }
  .company-detail .company-detail-body {
    font-size: 18px;
    width: 960px; }
    .company-detail .company-detail-body form {
      padding-left: 25px;
      padding-top: 25px; }
      .company-detail .company-detail-body form span {
        margin-top: 25px; }
    .company-detail .company-detail-body ul > li {
      padding-top: 10px; }
    .company-detail .company-detail-body a {
      text-decoration: none;
      color: #42a5f5;
      cursor: pointer; }
      .company-detail .company-detail-body a:hover {
        text-decoration: underline;
        color: #64b5f6; }
    .company-detail .company-detail-body .input-field {
      color: #ffffff;
      width: 915px;
      padding-left: 20px;
      padding-top: 20px; }
    .company-detail .company-detail-body button {
      border-radius: 0; }
      .company-detail .company-detail-body button:hover {
        background-color: #64b5f6; }

.company-detail-footer {
  width: 960px;
  padding-top: 10px; }
  .company-detail-footer button {
    color: #42a5f5;
    font-size: 18px; }

/*# sourceMappingURL=company-detail.component.css.map */
