@import "../../../assets/colors";
@import "../../../assets/sizes";
@import "../../../assets/common";

$content-width: 3*$company-card-width;

.company-detail {
  display: flex;
  flex-direction: column;
  margin: $medium-padding $large-padding;
  align-items: center;
  color: $white;
  min-width: $content-width;
  .company-detail-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: $x-large-font-size;
    width: $content-width;
    border-bottom: $main-border;

    span {
      width: 2*$company-card-width;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .company-action {
      display: flex;
      align-items: center;
    }
  }
  .company-detail-body {
    font-size: $large-font-size;
    width: $content-width;

    form {
      padding-left: $medium-padding;
      padding-top: $medium-padding;

      span {
        margin-top: $medium-padding;
      }
    }

    ul > li {
      padding-top: $small-padding;
    }

    a {
      text-decoration: none;
      color: $blue;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: $light-blue;
      }
    }
    .input-field {
      color: $white;
      width: $content-width - $medium-padding - 2 * $small-padding;
      padding-left: 2 * $small-padding;
      padding-top: 2 * $small-padding;
    }

    button {
      border-radius: 0;
      &:hover {
        background-color: $light-blue;
      }
    }
  }
}


.company-detail-footer {
  width: $content-width;
  padding-top: $small-padding;
  button {
    color: $blue;
    font-size: $large-font-size;
  }
}
