<div *ngIf="company" class="company-detail">
  <div class="company-detail-title">
    <span *ngIf='company.name!==""; else showEmptyCompanyName'>{{company.name}}</span>
    <ng-template #showEmptyCompanyName>New Company</ng-template>
    <div class="company-action">
      <button md-raised-button color="primary" [ngClass]="{'disable-button': !isCompanyModified}"
              (click)="saveChanges()">
        <span *ngIf="isEmptyID(); else modifyExistingCompany">Create Company</span>
        <ng-template #modifyExistingCompany>Save Changes</ng-template>
      </button>
      <button *ngIf="!isEmptyID()" md-button color="warn" (click)="delete()">Delete</button>
    </div>
  </div>
  <div class="company-detail-body">
    <form>
      <span>Company Name*:</span>
      <md-form-field class="input-field">
        <input #companyName mdInput required [formControl]="nameFormControl"
               [(ngModel)]="company.name"  (keyup)="trackDataChanges()">
        <md-error *ngIf="nameFormControl.hasError('required')">
          Company name is <strong>required</strong>
        </md-error>
      </md-form-field>
      <span>Address:</span>
      <md-form-field class="input-field">
        <input mdInput [(ngModel)]="company.address" [ngModelOptions]="{standalone: true}" (keyup)="trackDataChanges()">
      </md-form-field>
      <span>Revenue:</span>
      <md-form-field class="input-field">
        <input mdInput type="number" [(ngModel)]="company.revenue" [ngModelOptions]="{standalone: true}"
               (keyup)="trackDataChanges()">
      </md-form-field>
      <span>Phone:</span>
      <md-form-field class="input-field">
        <input mdInput type="tel" [(ngModel)]="company.phone" [ngModelOptions]="{standalone: true}"
               (keyup)="trackDataChanges()">
      </md-form-field>
    </form>
    <div *ngIf="!isEmptyID()">Employees ({{people.length}}):
      <button md-raised-button color="primary" (click)="addEmployee()">Add Employee</button>
      <ul>
        <li *ngFor="let person of people">
        <a (click)="selectPerson(person)">{{person.name}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="company-detail-footer">
    <button md-button (click)="goBack()">Back</button>
  </div>
</div>


