@import "../../../assets/colors";
@import "../../../assets/sizes";

.companies-page {
  display: flex;
  flex-direction: column;
  padding: $medium-padding;
  .control-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: $line-height;

    button {
      max-width: 4*$main-size;
      min-width: 2*$main-size + 2*$small-padding;
      color: $transparent-white-80;
      background-color: $blue;
      font-size: $medium-font-size;
      border-radius: 0;
      margin-left: $small-padding/2;
      &:hover {
        background-color: $light-blue;
      }
    }

    .search {
      flex: 1 0 auto;
      padding: 0 $small-padding;

      input {
        width: 100%;
        flex: 1 0 auto;
        height: $line-height;
        padding: 0;
        color: $blue;
        background-color: $transparent-black-33;
        border: none;
        border-radius: 0;
      }
    }
  }

  .company-card-container {
    background: $dark-gray;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: $company-card-width + 2*$medium-padding;
    justify-content: flex-start;
    .company-card-item {
      margin: $small-padding/2 $small-padding/2;

    }

  }

}


