<div class="companies-page">
  <div class="control-section">
    <button md-raised-button [routerLink]="['/companydetail', EMPTY_ID]">
      <md-icon class="">add</md-icon>
      <span>Company</span>
    </button>

  </div>
  <div class="company-card-container">
    <company-card *ngFor="let company of companies" (click)="selectCompany(company)"
                  [company]="company" class="company-card-item">
    </company-card>
  </div>
</div>

