.companies-page {
  display: flex;
  flex-direction: column;
  padding: 25px; }
  .companies-page .control-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 37.5px; }
    .companies-page .control-section button {
      max-width: 200px;
      min-width: 120px;
      color: rgba(255, 255, 255, 0.8);
      background-color: #42a5f5;
      font-size: 16px;
      border-radius: 0;
      margin-left: 5px; }
      .companies-page .control-section button:hover {
        background-color: #64b5f6; }
    .companies-page .control-section .search {
      flex: 1 0 auto;
      padding: 0 10px; }
      .companies-page .control-section .search input {
        width: 100%;
        flex: 1 0 auto;
        height: 37.5px;
        padding: 0;
        color: #42a5f5;
        background-color: rgba(0, 0, 0, 0.33);
        border: none;
        border-radius: 0; }
  .companies-page .company-card-container {
    background: #333333;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 370px;
    justify-content: flex-start; }
    .companies-page .company-card-container .company-card-item {
      margin: 5px 5px; }

/*# sourceMappingURL=companies.component.css.map */
